<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.commentdao.ICommentDao">
	<insert id="createCommentForMessage">
		insert into comment (text, messageId, userId) 
			values 
			(
			#{text},
			#{message.messageId},
			#{user.userId} 
			)
	</insert>
	
	<update id="updateUser">
		update user 
			set 
			userName = #{name}, 
			age = #{age,jdbcType=NUMERIC},
			sex = #{sex,jdbcType=VARCHAR}, 
			email = #{email,jdbcType=VARCHAR}, 
			phone = #{phone,jdbcType=VARCHAR}, 
			remark = #{remark,jdbcType=VARCHAR}, 
			touxiang = #{touxiang,jdbcType=VARCHAR} 
			where userId = #{userId}
	</update>
	
	<delete id="deleteUser">
		delete from user where id = #{userId}
	</delete>
	
	<resultMap type="entity.User" id="user">
		<result property="userId" column="userId"/>
		<result property="age" column="age"/>
		<result property="sex" column="sex"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="remark" column="remark"/>
		<result property="touxiang" column="touxiang"/>
		<result property="fansNum" column="fansNum"/>
		<result property="focusPeopleNum" column="focusPeopleNum"/>
	</resultMap>
	
	<select id="findUserById" parameterType="Integer" resultMap="user">
		select 
			userId, userName as name, age, sex, email, phone, remark, touxiang,
			count(f.fansId) as fansNum, count(ff.focusPeopleId) as focusPeopleNum
		FROM`user`
		LEFT JOIN fans_focus f ON userId = f.fansId
		LEFT JOIN fans_focus ff ON userId = ff.focusPeopleId
		where
			userId = #{id}
	</select> 
	
	<resultMap type="entity.User" id="userList">
		<result property="userId" column="userId"/>
		<result property="age" column="age"/>
		<result property="sex" column="sex"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="remark" column="remark"/>
		<result property="touxiang" column="touxiang"/>
	</resultMap>
	
	<select id="findAllUsers" resultMap="userList">
		select * from user
	</select>
</mapper>