<!-- 总容器 container开 始-->
<div id="m_container">
    <!-- topDIV 开始 -->
    <div id="m_top">
      <!-- top部分的LogoDIV -->
    	<div id="m_topLogo">
        	<!-- topLogo部分的icoDIV -->
            <div id="m_topLogoIco"> <a><img src="../images/WB.png" width="72" height="72" alt="" /></a>
          </div>
            <!-- topLogo部分的icoDIV结束 -->
            
            <!-- topLogo部分的wordDIV -->
            <div id="m_topLogoWord"> <a ><img src="../images/WB1.png" width="128" height="60" alt="" /></a>
          </div>
            <!-- topLogo部分的wordDIV -->
        </div>
        <!-- top部分的LogoDIV结束 -->
        
        <!-- top部分的文字导航 -->
        <div id="m_topWordMenu">
        	<ul>
            	<li><a ng-click="go('personalPage')">个人中心</a>
				<li><a ng-click="go('mainHome')">我的微博</a></li>
				<li><a ng-click="go('account')">账号设置</a></li>
				<li><a ng-click="go('password')">修改密码</a></li>
				<li ng-click="logout()"><a href="index.html">退出</a></li>
            </ul>
        </div>
        <!-- top部分的文字导航结束 -->
    </div>
    <!-- topDIv 结束-->
    <!-- 内容总容器 mainDIV 开 始-->
<div id="m_main">
		<!-- 左侧mainBannerDIV 开始 -->
      	<div id="m_mainBanner">
            <!-- 左侧mainBannerTopDIV 开始 -->
            <div id="m_mainBannerTop">
                <!-- 左侧mainBannerTopImgDIV 开始 -->
                <div id="m_mainBannerTopImg">
                	<img alt="" src="../images/default.jpg" ng-if="!user.touxiang" height="97" width="95">
                	<img alt="" ng-src="{{user.touxiang}}" ng-if="user.touxiang" height="97" width="95">
                </div>
            	<!-- 左侧mainBannerTopImgDIV 结束 -->
                <!-- 左侧mainBannerToWordDIV 开始 -->
                <div id="m_mainBannerTopWord">
                	<font color="#330000"><b>{{user.name}}</b></font><br>
                	<span class="m_user_remark">{{user.remark}}</span>
                </div>
            	<!-- 左侧mainBannerTopWordDIV 结束 -->
            </div>
            <!-- 左侧mainBannerTopDIV 结束 -->
            <!-- 左侧mainBannerMenuDIV 开始 -->
            <div id="m_mainBannerMenu">
                <!-- 左侧mainBannerMenuTopDIV 开始 -->
                <div id="m_mainBannerMenuTop" ng-if="who == '我'">
                    <!-- 左侧mainBannerMenuTopWord1DIV 开始 -->
                    <div id="m_mainBannerMenuTopWord1"><b>我自己</b>
                    </div>
                    <!-- 左侧mainBannerMenuTopWord1DIV 结束-->
                    <!-- 左侧mainBannerMenuTopWord2DIV 开始 -->
                    <div id="m_mainBannerMenuTopWord2"><img src="images/mainBannerMenuTopWord2.gif" title="" alt="" />
                    <a ng-click="go('personalPage')">发微博</a></div>
                    <!-- 左侧mainBannerMenuTopWord2DIV 结束 -->
                </div>
            	<!-- 左侧mainBannerMenuTopDIV 结束-->
            </div>
            <!-- 左侧mainBannerMenu DIV 结束-->
            <!--自己发微博的地方-->
               <div id="p_mainBannerContent" ng-repeat="message in messages">
				<!--个人展示-->
				<div class="p_stateShow" ng-if="message.messageId">
				
					<div class="p_stateShowWord">
						<div class="p_user_touxiang">
							<img ng-click="go1('mainHome',message.user.userId)" style="cursor:pointer" src="../images/default.jpg" height="50" width="50"
								ng-if="!message.user.touxiang">
							<img ng-click="go1('mainHome',message.user.userId)" style="cursor:pointer" ng-src="{{message.user.touxiang}}" height="50" width="50"
							ng-if="message.user.touxiang">
						</div>
						<div class="p_user_info">
							<a class="p_user_info_name">{{message.user.name}}</a> <span
								class="p_user_info_time">{{message.date|date:'yyyy-MM-dd
								HH:mm:ss'}}</span>
						</div>
						<div class="p_message" ng-bind-html="message.text|trustHtml"></div>
						<div class="p_message_imgs" ng-if="message.imgs">	
			                <img alt="" ng-src="{{img}}" width="120" height="120" ng-repeat="img in message.imgs track by $index">
		                </div>
						<div class="p_function">
							<a class="p_function_f">转发({{message.forwardNum}})</a> <a
								class="p_function_f">回复({{message.commentNum}})</a> <a
								class="p_function_f" ng-click="loveMessage(message)">赞({{message.loveNum}})</a>
						</div>
					</div>
				</div>
				<!--个人展示结束-->
				<div class="p_comments">
					<div class="p_comment" ng-repeat="comment in message.comments">
						<div class="p_comment_touxiang">
							<img ng-click="go1('mainHome',comment.user.userId)" ng-if="!comment.user.touxiang" src="../images/default.jpg" height="30" width="30">
							<img ng-click="go1('mainHome',comment.user.userId)" ng-src="{{comment.user.touxiang}}" ng-if="comment.user.touxiang" height="30" width="30">
						</div>
						<div class="p_comment_main">
							<a class="p_comment_name">{{comment.user.name}}</a>: <span
								class="p_comment_text">{{comment.text}}</span> <span
								class="p_comment_time">{{comment.time|date:'yyyy-MM-dd
								HH:mm:ss'}}</span> <a class="p_comment_func"
								ng-click="commentTo(message, comment.user.name)">回复</a>
						</div>
					</div>
				</div>
				<div ng-if="message.messageId" class="p_comment_box">
					<textarea class="p_comment_textarea" style="resize: none;" rows="1.5" cols="75"
						ng-model="message.comment"></textarea>
					<div style="padding-bottom: 3px">
						<!-- <a ng-click="show()">@@@</a> -->
						<button id="p_button10"
							style="background-color: #3295E6; border: none"
							ng-click="submitComment(message)">回复</button>
					</div>
				</div>
			</div>
            </div>
             <!--自己发微博的地方结束-->
        </div>
        <!-- 左侧mainBannerDIV 结束 -->                       
        <!-- 右侧mainRight DIV开始 -->
        <div id="m_mainRight">
            <div id="m_mainRight1">
               <!-- 右侧mainRightPostionFirstLine DIV 开始 -->
                <div id="m_mainRightPostionFirstLine">
                    <!-- 右侧mainRightPostionFirstLineIcon DIV 开始 -->
                    <div id="m_mainRightPostionFirstLineIcon">
                    <a >
                    	<img src="../images/default.jpg" ng-if="!user.touxiang" alt="" width="48" height="48" align="absmiddle" title="" border="0" />
                    	<img ng-src="{{user.touxiang}}" width="48" height="48" ng-if="user.touxiang">
                    </a>
                    
                    </div>
                    <!-- 右侧mainRightPostionFirstLineIcon DIV 结束 -->
                    <!-- 右侧mainRightPostionFirstLineWord1 DIV 开始 -->
                    <div id="m_mainRightPostionFirstLineWord1">                 
                    &nbsp;<font color="#005DC3" ><b><a class="m_a1">{{user.name}}</a></b></font><br />
                    	<span ng-if="who == '他'">
							<a ng-if="!isFocus" ng-click="focusOn()" class="m_focus">关注 +</a>   
							<a ng-if="isFocus" ng-click="takeOf()" class="m_focus">取消关注 </a>                  	
                    	</span>
                    </div>
                    <!-- 右侧mainRightPostionFirstLineWord1 DIV 结束 -->
                    <!-- 右侧mainRightPostionFirstLineWord2 DIV 开始 -->
                    <div id="m_mainRightPostionFirstLineWord2">
                    <ul id="m_ul1">
                    <li><a class="m_a1">
                    	<font class="m_style1">{{user.messageNum}}</font><br />
                    	<font class="m_style2">微博</font>
                    </a></li>
                    <li><a class="m_a1">
                    	<font class="m_style1">{{user.focusPeopleNum}}</font><br />
                    	<font class="m_style2">关注</font>
                    </a></li>
                    <li><a class="m_a1">
                    	<font class="m_style1">{{user.fansNum}}</font><br />
                    	<font class="m_style2">粉丝</font>
                    </a></li>
                    </ul>
                    </div>
                <!-- 右侧mainRightPostionFirstLineWord2 DIV 结束 -->                    
                </div>
                <!-- 右侧mainRightPostionSixthLine DIV 开始 -->
              <div id="m_mainRightPostionSixthLine">
                    <div id="m_mainRightPositionSixthLineContent">
                    <a ng-click="goUserList('focusPeople')" class="m_a1" style="cursor:pointer">
                    	<font class="m_style4">{{who}}关注的人</font>
                    </a>
                    </div>
                    <ul ng-repeat = "focusPeople in focusPeoples">
	                    <a class="m_a1"><li>
	                    	<img src="../images/default.jpg" style="cursor:pointer" ng-click="goUserHome(focusPeople.userId)" width="48" height="48" ng-if="!focusPeople.touxiang" border="0" />
	                    	<img ng-src="{{focusPeople.touxiang}}" style="cursor:pointer" ng-click="goUserHome(focusPeople.userId)" width="48" height="48" ng-if="focusPeople.touxiang"/><br />
	                    	<font class="m_style2">{{focusPeople.name}}</font>
	                    </li></a>
                    </ul>
                </div>
                 <!-- 右侧mainRightPostionSeventhLine DIV 开始 -->
               <div id="m_mainRightPostionSeventhLine">
                    <div id="m_mainRightPositionSeventhLineContent" style="cursor:pointer">
                    	<a class="m_a1" ng-click="goUserList('focusPeople')" ><font class="m_style4">关注{{who}}的人</font></a>
                  	</div>
                    <ul ng-repeat="fan in fans">
	                    <a class="m_a1"><li>
	                    	<img src="../images/default.jpg" style="cursor:pointer" ng-click="goUserHome(fan.userId)" ng-if="!fan.touxiang" width="48" height="48" border="0" />
	                    	<img ng-src="{{fan.touxiang}}" style="cursor:pointer" ng-click="goUserHome(fan.userId)" ng-if="fan.touxiang" width="48" height="48" border="0" /><br />
	                    	<font class="m_style2">{{fan.name}}</font>
	                    </li></a>
                    </ul>
                </div>
          </div>
        </div>         
  </div>
  <!-- 内容总容器 mainDIV 结束-->
  <!-- footer部分 -->
  <div id="m_footer">
   	  <!-- footer网站链接部分 -->
   	  <div id="m_footerLink">      
          <ul>
              <li><a  class="m_a2">广告服务</a></li>
              <li><a  class="m_a2">API</a></li>
              <li><a  class="m_a2">诚征英才</a></li>
              <li><a  class="m_a2">保护隐私权</a></li>
              <li><a  class="m_a2">免责条款</a></li>
              <li><a  class="m_a2">法律顾问</a></li>
              <li><a  class="m_a2">意见反馈</a></li>
          </ul>
      </div>
      <!-- footer网站链接部分结束 -->
      <!-- footer网站版权信息 -->
      <div id="m_footerCopy">
       	  Copyright&copy;2017-2018 simpleWeibo 版权所有
      </div>
      <!-- footer网站版权信息结束 -->
  </div>
  <!-- footer部分结束 --> 
</div>
<!--总容器 container结束-->
