<form id="w_form1" name="form1" method="post" action="">
<!-- container部分DIV -->
<div id="w_container">
 <div id="m_top">
      <!-- top部分的LogoDIV -->
    	<div id="m_topLogo">
        	<!-- topLogo部分的icoDIV -->
            <div id="m_topLogoIco"> <a><img src="../images/WB.png" width="72" height="72" alt="" /></a>
          </div>
            <!-- topLogo部分的icoDIV结束 -->
            
            <!-- topLogo部分的wordDIV -->
            <div id="m_topLogoWord"> <a ><img src="../images/WB1.png" width="128" height="60" alt="" /></a>
          </div>
            <!-- topLogo部分的wordDIV -->
        </div>
        <!-- top部分的LogoDIV结束 -->
        
        <!-- top部分的文字导航 -->
        <div id="m_topWordMenu">
        	<ul>
            	<li><a ng-click="go('personalPage')">个人中心</a>
				<li><a ng-click="go('mainHome')">我的微博</a></li>
				<li><a ng-click="go('account')">账号设置</a></li>
				<li><a ng-click="go('password')">修改密码</a></li>
				<li ng-click="logout()"><a href="index.html">退出</a></li>
            </ul>
        </div>
        <!-- top部分的文字导航结束 -->
    </div>
    <!-- banner部分DIV -->
    <div id="w_banner">
        <!-- bannerLeft部分DIV -->
        <div class="w_left" id="w_left">
            <table width="564" border="0" cellspacing="0" cellpadding="0">
                 <!-- 当前密码 -->
                 <tr>
                     <td width="120" height="65" align="right"><strong>当前密码</strong></td>
                     <td width="20" height="65">&nbsp;</td>
                     <td height="65"><label>
                             <input name="textfield1" ng-model="password" type="password" class="w_n1" id="w_textfield1" />
                   <br />
                 </tr>
                 <!-- 新密码 -->
                 <tr>
                     <td width="120" height="65" align="right"><strong>新密码</strong></td>
                     <td width="20" height="65">&nbsp;</td>
                     <td height="65"><label>
                             <input name="textfield2" ng-model="newPassword" type="password" class="w_n1" id="w_textfield2" />
                   </label></td>
                 </tr>
                 <!-- 重复新密码 -->
                 <tr>
                     <td width="120" height="65" align="right"><strong>重复新密码</strong></td>
                     <td width="20" height="65">&nbsp;</td>
                     <td height="65"><label>
                             <input name="textfield3" ng-model="rePassword" type="password" class="w_n1" id="w_textfield3" />
                   </label></td>
                 </tr>
                 <!-- 保存按钮 -->
                 <tr>
                     <td width="120" align="right">&nbsp;</td>
                     <td width="20">&nbsp;</td>
                     <td><label>
                          <input name="button" type="button" ng-click="submit()" class="w_btn" id="w_button" value="保存" />
                     </label></td>
                 </tr>
            </table>
        </div>
        <!-- bannerLeft部分DIV结束 -->
        <!-- bannerRight部分DIV -->
        <div class="w_right" id="w_right">
            <p><strong>关于密码</strong></p>
            <p>设置强度较高的账户密码（建议使用6~20位字母+数字+特殊符号，字幕区分大小写）</p>
            <p>避免使用用户名，连续或相同的数字作为密码 </p>
        </div>
      <!-- bannerRight部分DIV结束 -->
  </div>
  <!-- banner部分DIV结束 -->
</div>
<!-- container部分DI结束V -->
</form>
