<!-- 总容器 container开 始-->
<div id="p_container">
	<!-- topDIV 开始 -->
	<div id="p_top">
		<!-- top部分的LogoDIV -->
		<div id="p_topLogo">
			<!-- topLogo部分的icoDIV -->
			<div id="p_topLogoIco">
				<a ><img src="../images/WB.png"
					width="72" height="72" alt="" /></a>
			</div>
			<!-- topLogo部分的icoDIV结束 -->

			<!-- topLogo部分的wordDIV -->
			<div id="p_topLogoWord">
				<a ><img src="../images/WB1.png"
					width="128" height="60" alt="" /></a>
			</div>
			<!-- topLogo部分的wordDIV -->
		</div>
		<!-- top部分的LogoDIV结束 -->

		<!-- top部分的文字导航 -->
		<div id="p_topWordMenu">
			<ul>
				<li><a ng-click="go('personalPage')">个人中心</a>
				<li><a ng-click="go('mainHome')">我的微博</a></li>
				<li><a ng-click="go('account')">账号设置</a></li>
				<li><a ng-click="go('password')">修改密码</a></li>
				<li ng-click="logout()"><a href="index.html">退出</a></li>
			</ul>
		</div>
		<!-- top部分的文字导航结束 -->
	</div>
	<!-- topDIv 结束-->
	<!-- 内容总容器 mainDIV 开 始-->
	<div id="p_main">
		<!-- 左侧mainBannerDIV 开始 -->
		<div id="p_mainBanner">
			<!-- mainBannerTop DIV 开始 -->
			<div id="p_mainBannerTop" ng-if="mainHome">
				<!--id=mainBannerTopIssue 发布框-->
				<div id="p_mainBannerTopIssue">
					<!--id=mainBannerTopIssuePoint 提示-->
					<div id="p_mainBannerTopIssuePoint">正在发生的事情</div>
					<form name="xxform" role='form' novalidate id="">
						<div id="p_mainBannerTopIssueForm">
							<!--id="p_mainBannerTopIssueFrame-->
							<div id="p_mainBannerTopIssueFrame">
								<div ng-model="$parent.newMessage" maxlength="200" 
								required="required" name="textfield1" rows="4" class="p_Size"
								id="p_textfield2"style="overflow: hidden; border: 1px #0CF solid;"
								contenteditable="true"></div>
							</div>

							<!--                     <div id="p_mainBannerTopIssueInsert"> -->
							<!--                         4个小div -->
							<!--                     </div> -->
							<!--确认发布-->
							<div id="p_mainBannerTopIssueSure">
								<div id="p_mainBannerTopIssueSure2">
									<input class="p_picture_box" type="file" accept="image/jpg,image/jpeg,image/png"
										file-model="images"  
										onchange="angular.element(this).scope().showPicture(this.files)"/> 
									<a class="p_a1" style="cursor:pointer" 
										id="p_mainBannerTopIssueInsert2"> 插入图片 </a> 
									<a class="p_a1" ng-click="showBiaoqing()" style="cursor:pointer" >
										<div id="p_mainBannerTopIssueInsert6">插入表情</div>
									</a> <a class="p_a1" ng-click="show()">
										<div id="p_mainBannerTopIssueInsert4" style="cursor:pointer">@好友</div>
									</a>
									<button type="submit" name="button1" id="p_button1"
										style="background-color: #3295E6; border: none"
										ng-click="createMessage()">
										发表</button>
								</div>
								<div class="p_smImgs" >
				                <!-- 采用angular循环的方式，对存入thumb的图片进行展示 -->
				                    <label ng-repeat="item in pictures">
				                        <img ng-src="{{item.imgSrc}}" height="60" width="50" ng-click="rmImg($index)"/>
				                    </label>
				                </div>
							</div>
						</div>
					</form>
				</div>
				<!-- 表情DIV -->
				<div id="p_biaoqing">
					<table width="200" border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/1.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/2.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/3.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/4.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/5.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/6.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/7.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/8.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/9.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/10.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/11.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/12.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/13.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/14.gif"/></td>
						</tr>
						<tr>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/15.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/16.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/17.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/18.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/19.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/20.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/21.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/22.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/23.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/24.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/25.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/26.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/27.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/28.gif"/></td>
						</tr>
						<tr>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/29.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/30.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/31.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/32.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/33.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/34.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/35.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/36.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/37.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/38.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/39.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/40.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/41.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/42.gif"/></td>
						</tr>
						<tr>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/43.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/44.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/45.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/46.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/47.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/48.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/49.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/50.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/51.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/52.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/53.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/54.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/55.gif"/></td>
							<td><img ng-click="addBiaoqing($event)" src="./images/biaoqing/56.gif"/></td>
						</tr>
					</table>

				</div>
			</div>

			<!--id="p_mainBannerTitle 首页-->
			<div id="p_mainBannerTitle">
				<!--id="p_mainBannerTitleWord"-->
				<div id="p_mainBannerTitleWord">
					<b ng-if="mainHome">首页</b> <b ng-if="!mainHome" width="50px">@我的</b>
				</div>
			</div>
			<!--不同人的内容-->
			<div id="p_mainBannerContent" ng-if="mainHome"
				ng-repeat="message in messages">
				<!--个人展示-->
				<div class="p_stateShow" ng-if="message.messageId">
					<div class="p_stateShowWord">
						<div class="p_user_touxiang">
							<img style="cursor:pointer" alt="" src="../images/default.jpg" height="50" width="50"
								ng-if="!message.user.touxiang">
							<img style="cursor:pointer" ng-src="{{message.user.touxiang}}" ng-if="message.user.touxiang" height="50" width="50" />
						</div>
						<div class="p_user_info">
							<a class="p_user_info_name">{{message.user.name}}</a> <span
								class="p_user_info_time">{{message.date|date:'yyyy-MM-dd
								HH:mm:ss'}}</span>
						</div>
						<div class="p_message" ng-bind-html="message.text|trustHtml"></div>
						<div class="p_message_imgs" ng-if="message.imgs">	
			                <img alt="" ng-src="{{img}}" width="120" height="120" ng-repeat="img in message.imgs">
		                </div>
						<div class="p_function">
							<a class="p_function_f">转发({{message.forwardNum}})</a> <a
								class="p_function_f">回复({{message.commentNum}})</a> <a
								class="p_function_f" ng-click="loveMessage(message)">赞({{message.loveNum}})</a>
						</div>
					</div>
				</div>
				<!--个人展示结束-->
				<div class="p_comments">
					<div class="p_comment" ng-repeat="comment in message.comments">
						<div class="p_comment_touxiang">
							<img alt="" style="cursor:pointer" ng-if="!comment.user.touxiang" src="../images/default.jpg" height="30" width="30">
							<img alt="" style="cursor:pointer" ng-if="comment.user.touxiang" ng-src="{{comment.user.touxiang}}" height="30" width="30">
						</div>
						<div class="p_comment_main">
							<a class="p_comment_name">{{comment.user.name}}</a>: <span
								class="p_comment_text">{{comment.text}}</span> <span
								class="p_comment_time">{{comment.time|date:'yyyy-MM-dd
								HH:mm:ss'}}</span> <a class="p_comment_func"
								ng-click="commentTo(message, comment.user.name)">回复</a>
						</div>
					</div>
				</div>
				<div ng-if="message.messageId" class="p_comment_box">
					<textarea class="p_comment_textarea" style="resize: none;" rows="1.5" cols="75"
						ng-model="message.comment"></textarea>
					<div style="padding-bottom: 3px">
						<!-- <a ng-click="show()">@@@</a> -->
						<button id="p_button10"
							style="background-color: #3295E6; border: none"
							ng-click="submitComment(message)">回复</button>
					</div>
				</div>
			</div>
			<div id="p_mainBannerContent" ng-if="!mainHome"
				ng-repeat="message in aboutMeMessages">
				<!--个人展示-->
				<div class="p_stateShow" ng-if="message.messageId">
					<div class="p_stateShowWord">
						<div class="p_user_touxiang">
							<img alt="" src="../images/default.jpg" style="cursor:pointer" height="50" width="50"
								ng-if="!message.user.touxiang">
							<img ng-src="{{message.user.touxiang}}" style="cursor:pointer" height="50" width="50"
								ng-if="message.user.touxiang">	
						</div>
						<div class="p_user_info">
							<a class="p_user_info_name">{{message.user.name}}</a> <span
								class="p_user_info_time">{{message.date|date:'yyyy-MM-dd
								HH:mm:ss'}}</span>
						</div>
						<div class="p_message" ng-bind-html="message.text |trustHtml"></div>
						<div class="p_function">
							<a class="p_function_f">转发({{message.forwardNum}})</a> <a
								class="p_function_f">回复({{message.commentNum}})</a> <a
								class="p_function_f" ng-click="loveMessage(message)">赞({{message.loveNum}})</a>
						</div>
					</div>
				</div>
				<!--个人展示结束-->
				<div class="p_comments">
					<div class="p_comment" ng-repeat="comment in message.comments">
						<div class="p_comment_touxiang">
							<img alt="" style="cursor:pointer" ng-if="!comment.user.touxiang" src="../images/default.jpg" height="30" width="30">
							<img alt="" style="cursor:pointer" ng-if="comment.user.touxiang" ng-src="{{comment.user.touxiang}}" height="30" width="30">
						</div>
						<div class="p_comment_main">
							<a class="p_comment_name">{{comment.user.name}}</a>: <span
								class="p_comment_text">{{comment.text}}</span> <span
								class="p_comment_time">{{comment.time|date:'yyyy-MM-dd
								HH:mm:ss'}}</span> <a class="p_comment_func"
								ng-click="commentTo(message, comment.user.name)">回复</a>
						</div>
					</div>
				</div>
				<div ng-if="message.messageId" class="p_comment_box">
					<textarea class="p_comment_textarea" style="resize: none;" rows="1.5" cols="75"
						ng-model="message.comment"></textarea>
					<div style="padding-bottom: 3px">
						<!-- <a ng-click="show()">@@@</a> -->
						<button id="p_button10"
							style="background-color: #3295E6; border: none"
							ng-click="submitComment(message)">回复</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 左侧mainBanner DIV 结束-->
		<!-- 右侧mainRight DIV开始 -->
		<div id="p_mainRight">
			<table width="200" border="0" cellpadding="0" cellspacing="0"
				bgcolor="#E9F4FA">
				<tr>
					<td bgcolor="#E9F4FA">
						<!-- 右侧mainRightPostionFirstLine DIV 开始 -->
						<div id="p_mainRightPostionFirstLine">
							<!-- 右侧mainRightPostionFirstLineIcon DIV 开始 -->
							<div style="height: 58px;">
								<div id="p_mainRightPostionFirstLineIcon">
									<a> <img src="../images/default.jpg"
										ng-if="!user.touxiang" alt="" width="48" height="48"
										align="absmiddle" title="" border="0" />
										<img ng-src="{{user.touxiang}}"
										ng-if="user.touxiang" alt="" width="48" height="48"
										align="absmiddle" title="" border="0" />
									</a>
								</div>
								<!-- 右侧mainRightPostionFirstLineIcon DIV 结束 -->
								<!-- 右侧mainRightPostionFirstLineWord1 DIV 开始 -->
								<div id="p_mainRightPostionFirstLineWord1">
									&nbsp; <font color="#005DC3"><b> <a class="p_a1">{{user.name}}</a></b>
									</font><br />
								</div>
							</div>
							<!-- 右侧mainRightPostionFirstLineWord1 DIV 结束 -->
							<!-- 右侧mainRightPostionFirstLineWord2 DIV 开始 -->
							<div id="p_mainRightPostionFirstLineWord2">
								<ul>
									<a href="MyWB.html" class="p_a1"><li><font
											class="p_style1">{{user.messageNum}}</font><br />
										<font class="p_style2">微博</font></li></a>
									<a href="friend.html" class="p_a1"><li><font
											class="p_style1">{{user.focusPeopleNum}}</font><br />
										<font class="p_style2">关注</font></li></a>
									<a href="focusonyou.html" class="p_a1"><li><font
											class="p_style1">{{user.fansNum}}</font><br />
										<font class="p_style2">粉丝</font></li></a>
								</ul>
							</div>
							<!-- 右侧mainRightPostionFirstLineWord2 DIV 结束 -->
						</div> <!-- 右侧mainRightPostionFirstLine DIV 结束 -->
					</td>
				</tr>
				<tr>
					<td bgcolor="#E9F4FA">
						<!-- 右侧mainRightPostionSecondLine DIV 开始 -->
						<div id="p_mainRightPostionSecondLine">
							<!-- 右侧mainRightPositionSecondLineContent DIV 开始 -->
							<div id="p_mainRightPositionSecondLineContent">
								<a ng-click="changeToMainHome()" style="cursor:pointer" class="p_a1"> <font
									ng-class="{true:'isSelectLabel',false:'p_style3'}[mainHome]">首页</font>
								</a><br />
								<hr class="p_h1" />
								<a ng-click="changeToAboutMe()" style="cursor:pointer" ng-if="mainHome" class="p_a1"><font
									class="p_style3"> @我的 <span class="p_aboutMe"
										ng-if="user.aboutMe != 0"> +{{user.aboutMe}} </span>
								</font></a> <a ng-click="changeToAboutMe()" style="cursor:pointer" ng-if="!mainHome" class="p_a1">
									<font class="isSelectLabel"> @我的 </font>
								</a>
								<!--  <hr class="p_h1">
                                <a  class="p_a1"><font class="p_style3">转发</font></a> -->
							</div>
							<!-- 右侧mainRightPositionSecondLineContent DIV 开始 -->
						</div> <!-- 右侧mainRightPostionSecondLine DIV 结束 -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- 右侧mainRightPostionSixthLine DIV 开始 -->
						<div id="p_mainRightPostionSixthLine">
							<div id="p_mainRightPositionSixthLineContent">
								<a ng-click="goUserList('focusPeople')" class="p_a1"><font class="p_style4">我关注的人</font>
							</div>
							<ul ng-repeat="focusPeople in focusPeoples|limitTo:3">
								<a class="p_a1"><li>
									<img src="../images/default.jpg" height="48" width="48" style="cursor:pointer"
										ng-if="!focusPeople.touxiang" border="0" ng-click="goUserHome(focusPeople.userId)"/>
									<img ng-src="{{focusPeople.touxiang}}" height="48" width="48" style="cursor:pointer"
									ng-if="focusPeople.touxiang" border="0" ng-click="goUserHome(focusPeople.userId)"/><br />
									<font class="p_style2">{{focusPeople.name}}</font>
								</li></a>
							</ul>
						</div> <!-- 右侧mainRightPostionSixthLine DIV 结束 -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- 右侧mainRightPostionSixthLine DIV 开始 -->
						<div id="p_mainRightPostionSixthLine">
							<div id="p_mainRightPositionSixthLineContent">
								<a class="p_a1" ng-click="goUserList('fans')"><font class="p_style4">关注我的人</font></a>
							</div>
							<ul ng-repeat="fan in fans">
								<a  class="p_a1"><li>
									<img src="../images/default.jpg" height="48" width="48" style="cursor:pointer"
											ng-if="!fan.touxiang" border="0" ng-click="goUserHome(fan.userId)"/>
									<img src="{{fan.touxiang}}" height="48" width="48" style="cursor:pointer"
									ng-if="fan.touxiang" border="0" ng-click="goUserHome(fan.userId)"/><br /> 
									<font class="p_style2">{{fan.name}}</font>
								</li></a>
							</ul>
						</div> <!-- 右侧mainRightPostionSixthLine DIV 结束 -->
					</td>
				</tr>
			</table>
		</div>
		<!-- 右侧mainRightDiv 结束 -->
	</div>
	<!-- 回复DIV 开始 -->
	<!-- 内容总容器 mainDIV 结束-->

	<!-- footer部分 -->
	<div id="p_footer">
		<!-- footer网站链接部分 -->
		<div id="p_footerLink">
			<ul>
				<li><a  class="p_a2">API</a></li>
				<li><a  class="p_a2">诚征英才</a></li>
				<li><a  class="p_a2">保护隐私权</a></li>
				<li><a  class="p_a2">免责条款</a></li>
				<li><a  class="p_a2">法律顾问</a></li>
				<li><a  class="p_a2">意见反馈</a></li>
			</ul>
		</div>
		<!-- footer网站链接部分结束 -->
		<!-- footer网站版权信息 -->
		<div id="p_footerCopy">Copyright&copy;2017-2018 simpleWeibo 版权所有</div>
		<!-- footer网站版权信息结束 -->
	</div>
	<!-- footer部分结束 -->

	<!--  模态框   -->
	<div class="modal fade bs-example-modal-sm" id="crewmodal"
		role="dialog" ng-if="mainHome">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">请选择要@的好友</h4>
				</div>
				<div class="modal-body">
					<div class="checkbox" ng-repeat="user in focusPeoples">
						<label> <!-- <input type="checkbox"> --> <input
							type="checkbox" id={{user.userId}} name="{{user.name}}"
							ng-checked="isSelected(user.userId)"
							ng-click="updateSelection($event,user.userId)"> <img
							alt="" height="25" width="25" src="../images/default.jpg">
							<span class="p_user_name">{{user.name}}</span>
						</label>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary"
						ng-click="addAboutFriend()">确定</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--总容器 container结束-->
