<div id="r_container">
  <!-- top部分DIV -->
	<div id="r_top">
    	<!-- top部分的LogoDIV -->
    	<div id="r_topLogo">
        	<!-- topLogo部分的icoDIV -->
            <div id="r_topLogoIco"> <a><img src="../images/WB.png" width="72" height="72" alt="" /></a>
        </div>
            <!-- topLogo部分的icoDIV结束 -->
            
            <!-- topLogo部分的wordDIV -->
            <div id="r_topLogoWord"> <a><img src="../images/WB1.png" width="128" height="60" alt="" /></a>
          </div>
            <!-- topLogo部分的wordDIV -->
        </div>
        <!-- top部分的LogoDIV结束 -->
        
        <!-- top部分的文字导航 -->
        <div id="r_topWordMenu">
        	<ul>
            	<li>已有账号，<a ng-click="goLogin()">请登录</a></li>
            </ul>
        </div>
        <!-- top部分的文字导航结束 -->
    </div>
    <!-- top部分结束 -->
  <div id="r_banner">
    <div id="r_bannerTop">
      <div id="r_bannerWord1">加入simpleWeibo</div>
      <div id="r_bannerWord2">如果你已经是注册用户，请直接<a >登陆微博</a></div>
<!--       <div id="r_bannerWord3">已经是simpleWeibo用户？<a href="login.html">登陆微博</a></div> -->
    </div>
    <div id="r_main">
      <form  >
      <table width="765" border="0" cellpadding="0" cellspacing="0" style="margin-top:20px">
        <tr>
          <td width="95">&nbsp;</td>
          <td width="86" align="center" valign="middle" class="r_wordleft" style="padding-top:17px">用 &nbsp;户&nbsp; 名</td>
          <td width="189" align="center" valign="middle" > <input name="userID" type="text" ng-model="user.name" class="r_form" id="r_userID" ></td>
          <td width="419" align="left" valign="middle" class="r_wordright"><img name="img1" width="16" height="16" id="r_img1" /><div class="r_registertip" id="r_userIDtip">&nbsp&nbsp请输入真实姓名，方便您的朋友与你联系</div></td>
        </tr>
        
        <tr>
          <td width="95">&nbsp;</td>
          <td width="86" align="center" valign="middle" class="r_wordleft" style="padding-top:20px">手 &nbsp;机&nbsp; 号</td>
          <td width="189" align="center" valign="middle"> <input name="userID" type="text" ng-model="user.phone" class="r_form" id="r_userID" /></td>
          <td width="419" align="left" valign="middle" class="r_wordright"><img name="img1" width="16" height="16" id="r_img1" /><div class="r_registertip" id="r_userIDtip">&nbsp &nbsp作为账号，用来登录</div></td>
        </tr>
     
       <!--  <tr>
          <td>&nbsp;</td>
          <td align="center" valign="middle" class="r_wordleft">电子邮箱</td>
          <td align="center" valign="middle"><input name="userMail" type="text" class="r_form" id="r_userMail" onblur="checkUserMail(img4,this)" onfocus="getfocus(this,img4)" /></td>
          <td align="left" valign="middle" class="r_wordright"><img name="img4" width="16" height="16" id="r_img4" /><div class="r_registertip" id="r_userMailtip">找回账户和密码用，如123@163.com</div></td>
        </tr>
        
        <tr>
          <td width="71">&nbsp;</td>
          <td width="86" align="center" valign="middle" class="wordleft">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别</td>
          <td width="189" align="center" valign="middle"><input name="userID" type="text" class="form" id="userID" onblur="checkUserId(img1,this)" onfocus="getfocus(this,img1)" /></td>
          <td width="419" align="left" valign="middle" class="wordright"><img name="img1" width="16" height="16" id="img1" /><div class="registertip" id="userIDtip">请输入真实性别，方便与他人交流</div></td>
        </tr>
        
        <tr>
          <td width="71">&nbsp;</td>
          <td width="86" align="center" valign="middle" class="wordleft">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 龄</td>
          <td width="189" align="center" valign="middle"><input name="userID" type="text" class="form" id="userID" onblur="checkUserId(img1,this)" onfocus="getfocus(this,img1)" /></td>
          <td width="419" align="left" valign="middle" class="wordright"><img name="img1" width="16" height="16" id="img1" /><div class="registertip" id="userIDtip">请输入真实年龄，方便与他人话题讨论</div></td>
        </tr> -->
        
        <tr>
          <td width="95">&nbsp;</td>
          <td width="86" align="center" valign="middle" class="r_wordleft" style="padding-top:20px">创建密码</td>
          <td width="189" align="center" valign="middle"><input name="userPass" type="password" ng-model="user.password" class="r_form" id="r_userPass"  /></td>
          <td width="489" align="left" valign="middle" class="r_wordright"><img name="img5" width="16" height="16" id="r_img5" /><div class="r_registertip" id="r_userPasstip">&nbsp&nbsp密码由6到20个字母、数字、特殊符号组成，字母区分大小写</div></td>
        </tr>
        <tr>
          <td width="95">&nbsp;</td>
          <td width="86" align="center" valign="middle" class="r_wordleft" style="padding-top:20px">密码确认</td>
          <td width="189" align="center" valign="middle"><input name="userRpass" type="password" ng-model="repassword" class="r_form" id="r_userRpass"  /></td>
          <td width="489" align="left" valign="middle" class="r_wordright"><img name="img6" width="16" height="16" id="r_img6" /><div class="r_registertip" id="r_userRpasstip">&nbsp&nbsp请再次输入密码</div></td>
        </tr>
        
        <tr>
          <td height="80" colspan="4" align="center" valign="middle"><input type="submit"  ng-click="submit()" name="button" id="r_button" value="立即注册" class="r_button"/></td>
          </tr>
      </table>
    </form>
    </div>
    <!-- footer部分 -->
    <div id="r_footer">
    	<!-- footer网站链接部分 -->
    	<div id="r_footerLink">
        	<ul>
                <li><a >广告服务</a></li>
                <li><a >API</a></li>
                <li><a >诚征英才</a></li>
                <li><a >保护隐私权</a></li>
                <li><a >免责条款</a></li>
                <li><a >法律顾问</a></li>
                <li><a >意见反馈</a></li>
            </ul>
        </div>
        <!-- footer网站链接部分结束 -->
        <!-- footer网站版权信息 -->
        <div id="r_footerCopy">
        	 Copyright&copy;2017-2018 simpleWeibo 版权所有
        </div>
        <!-- footer网站版权信息结束 -->
    </div>
    <!-- footer部分结束 -->
</div>
</div>

