<!-- 页面整体 -->
<div id="u_container">
    <!-- topDIV 开始 -->
    <div id="u_top">
    <!-- top部分的LogoDIV -->
    	<div id="u_topLogo">
        	<!-- topLogo部分的icoDIV -->
            <div id="u_topLogoIco"> <a><img src="../images/WB.png" width="72" height="72" alt="" /></a>
          </div>
            <!-- topLogo部分的icoDIV结束 -->
            
            <!-- topLogo部分的wordDIV -->
            <div id="u_topLogoWord"> <a ><img src="../images/WB1.png" width="128" height="60" alt="" /></a>
          </div>
            <!-- topLogo部分的wordDIV -->
        </div>
        <!-- top部分的LogoDIV结束 -->
        
        <!-- top部分的文字导航 -->
        <div id="u_topWordMenu">
        	<ul>
            	<li><a ng-click="go('personalPage')">个人中心</a>
				<li><a ng-click="go('mainHome')">我的微博</a></li>
				<li><a ng-click="go('account')">账号设置</a></li>
				<li><a ng-click="go('password')">修改密码</a></li>
				<li ><a ng-click="logout()">退出</a></li>
            </ul>
        </div>
        <!-- top部分的文字导航结束 -->
    </div>
    <!-- top部分结束 -->
 	<div>
 		<div class="u_main">
	 		<div class="u_main_top">
	 			<h3 class="u_main_tip" ng-if="type == 'fans'">关注我的人</h3>
	 			<h3 class="u_main_tip" ng-if="type == 'focusPeople'">关注我的人</h3>
	 		</div>
	 		<div class="u_main_users" ng-if="type == 'fans'">
	 			<div class="u_main_user" ng-repeat="fan in fans">
	 				<div class="u_main_user_face">
	 					<img alt="" src="../images/default.jpg" ng-click="" ng-if="!fan.touxiang" height="50" width="50" />
	 					<img ng-src="{{fan.touxiang}}" ng-click="" ng-if="fan.touxiang" height="50" width="50" />
	 				</div>
	 				<div class="u_main_user_info">
							{{fan.name}}<br>
							{{fan.remark}}
							<p ng-if="!fan.remark">&nbsp;</p>
	 				</div>
	 				<div class="u_main_user_fuc">
	 							<a  ng-click="focusOn()" class="m_focus">关注 +</a>   
	<!-- 							<a ng-if="isFocus" ng-click="takeOf()" class="m_focus">取消关注 </a>    -->
	 				</div>
	 			</div>
	 		</div>
	 		<div class="u_main_users" ng-if="type == 'focusPeople'">
	 			<div class="u_main_user" ng-repeat="focusPeople in focusPeoples">
	 				<div class="u_main_user_face">
	 					<img alt="" src="../images/default.jpg" ng-if="!focusPeople.touxiang" height="50" width="50" />
	 					<img ng-src="{{focusPeople.touxiang}}" ng-if="focusPeople.touxiang" height="50" width="50"/>
	 				</div>
	 				<div class="u_main_user_info">
							{{focusPeople.name}}<br>
							{{focusPeople.remark}}
							<p ng-if="!focusPeople.remark">&nbsp;</p>
	 				</div>
	 				<div class="u_main_user_fuc">
	<!--  							<a  ng-click="focusOn()" class="m_focus">关注 +</a>    -->
								<a ng-if="isFocus" ng-click="takeOf()" class="m_focus">取消关注 </a>   
	 				</div>
	 			</div>
	 		</div>
	 	</div>
 	
	  	<div id="p_mainRight">
			<table width="200" border="0" cellpadding="0" cellspacing="0"
				bgcolor="#E9F4FA">
				<tr>
					<td bgcolor="#E9F4FA">
						<!-- 右侧mainRightPostionFirstLine DIV 开始 -->
						<div id="p_mainRightPostionFirstLine">
							<!-- 右侧mainRightPostionFirstLineIcon DIV 开始 -->
							<div style="height: 58px;">
								<div id="p_mainRightPostionFirstLineIcon">
									<a> <img src="../images/default.jpg"
										ng-if="!user.touxiang" alt="" width="48" height="48"
										align="absmiddle" title="" border="0" />
										<img ng-src="{{user.touxiang}}"
										ng-if="user.touxiang" alt="" width="48" height="48"
										align="absmiddle" title="" border="0" />
									</a>
								</div>
								<!-- 右侧mainRightPostionFirstLineIcon DIV 结束 -->
								<!-- 右侧mainRightPostionFirstLineWord1 DIV 开始 -->
								<div id="p_mainRightPostionFirstLineWord1">
									&nbsp; <font color="#005DC3"><b> <a class="p_a1">{{user.name}}</a></b>
									</font><br />
								</div>
							</div>
							<!-- 右侧mainRightPostionFirstLineWord1 DIV 结束 -->
							<!-- 右侧mainRightPostionFirstLineWord2 DIV 开始 -->
							<div id="p_mainRightPostionFirstLineWord2">
								<ul>
									<a href="MyWB.html" class="p_a1"><li><font
											class="p_style1">{{user.messageNum}}</font><br />
										<font class="p_style2">微博</font></li></a>
									<a href="friend.html" class="p_a1"><li><font
											class="p_style1">{{user.focusPeopleNum}}</font><br />
										<font class="p_style2">关注</font></li></a>
									<a href="focusonyou.html" class="p_a1"><li><font
											class="p_style1">{{user.fansNum}}</font><br />
										<font class="p_style2">粉丝</font></li></a>
								</ul>
							</div>
							<!-- 右侧mainRightPostionFirstLineWord2 DIV 结束 -->
						</div> <!-- 右侧mainRightPostionFirstLine DIV 结束 -->
					</td>
				</tr>
				<tr>
					<td bgcolor="#E9F4FA">
						<!-- 右侧mainRightPostionSecondLine DIV 开始 -->
						<div id="p_mainRightPostionSecondLine">
							<!-- 右侧mainRightPositionSecondLineContent DIV 开始 -->
							<div id="p_mainRightPositionSecondLineContent">
								<a ng-click="changeToMainHome()" style="cursor:pointer" class="p_a1"> <font
									ng-class="{true:'isSelectLabel',false:'p_style3'}[mainHome]">首页</font>
								</a><br />
								<hr class="p_h1" />
								<a ng-click="changeToAboutMe()" style="cursor:pointer" ng-if="mainHome" class="p_a1"><font
									class="p_style3"> @我的 <span class="p_aboutMe"
										ng-if="user.aboutMe != 0"> +{{user.aboutMe}} </span>
								</font></a> <a ng-click="changeToAboutMe()" style="cursor:pointer" ng-if="!mainHome" class="p_a1">
									<font class="isSelectLabel"> @我的 </font>
								</a>
								<!--  <hr class="p_h1">
	                               <a  class="p_a1"><font class="p_style3">转发</font></a> -->
							</div>
							<!-- 右侧mainRightPositionSecondLineContent DIV 开始 -->
						</div> <!-- 右侧mainRightPostionSecondLine DIV 结束 -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- 右侧mainRightPostionSixthLine DIV 开始 -->
						<div id="p_mainRightPostionSixthLine">
							<div id="p_mainRightPositionSixthLineContent">
								<a  onclick="" class="p_a1"><font class="p_style4">我关注的人</font>
							</div>
							<ul ng-repeat="focusPeople in focusPeoples|limitTo:3">
								<a  class="p_a1"><li>
									<img src="../images/default.jpg" height="48" width="48" style="cursor:pointer" ng-click=""
										ng-if="!focusPeople.touxiang" border="0" />
									<img ng-src="{{focusPeople.touxiang}}" height="48" width="48" style="cursor:pointer"
									ng-if="focusPeople.touxiang" border="0" /><br />
									<font class="p_style2">{{focusPeople.name}}</font>
								</li></a>
							</ul>
						</div> <!-- 右侧mainRightPostionSixthLine DIV 结束 -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- 右侧mainRightPostionSixthLine DIV 开始 -->
						<div id="p_mainRightPostionSixthLine">
							<div id="p_mainRightPositionSixthLineContent">
								<a class="p_a1"><font class="p_style4">关注我的人</font>
							</div>
							<ul ng-repeat="fan in fans">
								<a  class="p_a1"><li>
									<img src="../images/default.jpg" height="48" width="48" style="cursor:pointer"
											ng-if="!fan.touxiang" border="0" />
									<img src="{{fan.touxiang}}" height="48" width="48" style="cursor:pointer"
									ng-if="fan.touxiang" border="0" /><br /> 
									<font class="p_style2">{{fan.name}}</font>
								</li></a>
							</ul>
						</div> <!-- 右侧mainRightPostionSixthLine DIV 结束 -->
					</td>
				</tr>
			</table>
		</div>
 	</div>
    <!-- footer部分 -->
    <div id="u_footer">
    	<!-- footer网站链接部分 -->
    	<div id="u_footerLink">
        	<ul>
                <li><a >广告服务</a></li>
                <li><a >API</a></li>
                <li><a >诚征英才</a></li>
                <li><a >保护隐私权</a></li>
                <li><a >免责条款</a></li>
                <li><a >法律顾问</a></li>
                <li><a >意见反馈</a></li>
            </ul>
        </div>
        <!-- footer网站链接部分结束 -->
        <!-- footer网站版权信息 -->
        <div id="u_footerCopy">
        	Copyright&copy;2017-2018 simpleWeibo 版权所有
      </div>
        <!-- footer网站版权信息结束 -->
  </div>
    <!-- footer部分结束 -->
</div>

