<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.userdao.IUserDao">
	<insert id="insertUser">
		insert into user (userName,age,sex,email,phone,remark,password,touxiang) 
			values 
			(#{name}, 
			 #{age,jdbcType=NUMERIC},
			 #{sex,jdbcType=VARCHAR},
			 #{email,jdbcType=VARCHAR},
			 #{phone,jdbcType=VARCHAR},
			 #{remark,jdbcType=VARCHAR},
			 #{password,jdbcType=VARCHAR},
			 #{touxiang,jdbcType=VARCHAR})
	</insert>
	
	<update id="haveNewAboutMe" parameterType="Integer">
		UPDATE `user`
		SET aboutMe = aboutMe + 1
		WHERE userId = #{userId}
	</update>
	
	<update id="cleanAboutMe" parameterType="Integer">
		UPDATE `user`
		SET aboutMe = 0
		WHERE userId = #{userId}
	</update>
	
	<update id="updateUser">
		update user 
			set 
			userName = #{name}, 
			age = #{age,jdbcType=NUMERIC},
			sex = #{sex,jdbcType=VARCHAR}, 
			email = #{email,jdbcType=VARCHAR}, 
			phone = #{phone,jdbcType=VARCHAR}, 
			remark = #{remark,jdbcType=VARCHAR}, 
			touxiang = #{touxiang,jdbcType=VARCHAR} 
			where userId = #{userId}
	</update>
	
	<delete id="deleteUser">
		delete from user where id = #{userId}
	</delete>
	
	<resultMap type="entity.User" id="user">
		<result property="userId" column="userId"/>
		<result property="name" column="userName"/>
		<result property="age" column="age"/>
		<result property="sex" column="sex"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="remark" column="remark"/>
		<result property="touxiang" column="touxiang"/>
		<result property="messageNum" column="messageNum"/>
		<result property="fansNum" column="fansNum"/>
		<result property="password" column="password"/>
		<result property="aboutMe" column="aboutMe"/>
		<result property="focusPeopleNum" column="focusPeopleNum"/>
	</resultMap>
	
	<select id="findUserById" parameterType="Integer" resultMap="user">
		SELECT
			u.userId,u.userName,u.age,u.sex,u.email,
			u.phone,u.remark,u.touxiang,u.messageNum,u.fansNum,
			u.focusPeopleNum,u.aboutMe
		FROM
			`user` u
		WHERE
			u.userId = #{id}
	</select> 
	
	<select id="findUserByName" parameterType="String" resultMap="user">
		SELECT
			u.userId,u.userName
		FROM
			`user` u
		where
			userName = #{name}
	</select>
	
	<select id="findUserByPhone" parameterType="String" resultMap="user">
		SELECT
			u.userId,u.userName,u.age,u.sex,u.email,u.password,
			u.phone,u.remark,u.touxiang,u.messageNum,u.fansNum,
			u.focusPeopleNum
		FROM
			`user` u
		where
			phone = #{phone}
	</select> 
	
	<resultMap type="entity.User" id="userList">
		<result property="userId" column="userId"/>
		<result property="age" column="age"/>
		<result property="sex" column="sex"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="remark" column="remark"/>
		<result property="touxiang" column="touxiang"/>
	</resultMap>
	
	<select id="findFansByUserId" resultMap="user">
		SELECT 
			u.userId, u.userName, u.touxiang, u.remark
		FROM
			fans_focus f
		LEFT JOIN `user` u on f.fansId = u.userId
		WHERE
			f.focusPeopleId = #{userId}
		<if test="currentPage != null and pageSize != null">
			LIMIT #{currentPage}, #{pageSize}
		</if>
	</select>
	
	<select id="findFocusPeoplesByUserId" resultMap="user">
		SELECT 
			u.userId, u.userName, u.touxiang, u.remark
		FROM
			fans_focus f
		LEFT JOIN `user` u on f.focusPeopleId = u.userId
		WHERE
			f.fansId = #{userId}
		<if test="currentPage != null and pageSize != null">
			LIMIT #{currentPage}, #{pageSize}
		</if>
	</select>
	
	<select id="findAllUsers" resultMap="userList">
		select 
			* 
		from 
			`user`
		<if test="currentPage != null and pageSize != null">
			LIMIT #{currentPage}, #{pageSize}
		</if>
	</select>
</mapper>