<h2 class='.label label-info title'>微博列表</h2>
<table class='table table-bordered form' ng-if="entitys.length != 0">
	<thead>
		<tr>
			<th class='textcenter'>姓名</th>
			<th class='textcenter' style="width: 16%">操作</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="message in messages">
			<td >{{message.text}}</td>
			<td>
				<button class='btn btn-info' ng-click="update(user.userId)">编辑</button>
				<button class='btn btn-info' ng-click="deleteEntity(entity)">删除</button>
			</td>
		</tr>
	</tbody>
</table>