@charset "utf-8";
/* CSS Document */
/* contianer部分 */
#a_container{
	width:765px;
	height:auto;
	margin:0px auto;
}
/* banner部分 */
#a_banner{
	width:765px;
	height:580px;
	padding:0px;
	margin:0px;
	background-color:#FFF;
}
     /* banner部分的left */
    #a_banner .a_left{
		width:765px;
/* 		border-right:solid 1px #9FF; */
		float:left;
	}
	     /* banner部分的具体内容 */
	    #a_banner .a_n1{
		    width:300px;
		    margin-top: 20px;
		    height:25px;
			line-height:25px;
			border:1px #0CF solid;
	    }
	    #a_banner .a_n2{
		    width:500px;
		    margin-top: 10px;
		    height:25px;
			line-height:25px;
			border:1px #0CF solid;
	    }
	    #a_banner .a_n3{
		    width:300px;
		    margin-top: 20px;
		    height:25px;
			line-height:20px;
			border:1px #0CF solid;
	    }
	    #a_banner .a_n4{
		    width:500px;
		    height:90px;
			border:1px #0CF solid;
	    }
	    #a_banner .a_n5{
		    width:300px;
		    margin-top: 5px;
		    height:25px;
			line-height:25px;
			border:1px #0CF solid;
	    }
	    #a_banner .a_btn{
		    width:55px;
		    margin-top: -25px;
		    height:30px;
		    background-color:#0184C9;
		    border:0px;
			
	    }
	    #a_banner .a_tb{
		    width:100px;
	    }
	/* banner部分的right */
	#a_banner .a_right{
		width:230px;
		height:580px;
		padding-left:10px;
		padding-right:10px;
		float:left;
	}
.a_user_touxiang {
    position: absolute;
    top: 100px;
    left: 800px;
}

.a_touxiang_result {
	position: absolute;
    top: 15px;
}

.a_picture_box {
    opacity: 0;
    width: 50px;
    height: 13px;
    position: absolute;
    top: 170px;
}